// Tablets and smaller

@media(max-width: 800px) {
    #header-home {
        height: 30rem;
        .header-content {
            height: 20rem;
        }
    }
}
//Smartphones
@media(max-width: 500px){
    #main-nav {
        flex-direction: column;
        align-items: center;

        li {
            padding: 1rem;
        }
    }
    #header {
        &-home {
            height: 10rem;
            border-bottom: 3px solid $main-color;
            background-position: 20% 30%;
        .header-content {display: none;}
        }
        &-inner {
            height: 10rem;
        }
    }


    //Stack grid columns
    #home-a #specials,
    #home-b .stats,
    #home-c .process,
    #about-d .testimonials,
    .items {
        grid-template-columns: 1fr;
    }
    #footer {

        .footer-content {
            padding: 1.5rem 1rem;
            flex-direction: column-reverse;
            .socials {
                display: flex;
                // flex-wrap: wrap;
                justify-content: center;
                a {
                    padding-bottom: 0.5rem;
                }
            }
        }
    }
    
    #about-a-me {
        grid-template-areas:
        "bio"
        "about"
        "aw1"
        "aw2"
        "aw3";
    }
    .concerns-logos {
        display: none;
    }
}