// Import partials
@import "config";
@import "utilities";
@import "item_grid";
// General styles
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Dosis", sans-serif;
  line-height: 1.6;
  background: #fff;
}
a {
  text-decoration: none;
  color: $dark-color;
}
ul {
  list-style: none;
}
h2,
h3,
h4 {
  text-transform: uppercase;
}
img {
  width: 100%;
}
// Logo
#logo {
  width: 70px;
  height: 70px;
  color: #fff;
  text-transform: uppercase;
}

//Main nav
#main-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;

  ul {
    display: flex;
    flex-direction: row;
  }
  li {
    padding: 1rem 1.5rem;
  }
  a {
    color: #fff;
    text-transform: uppercase;
    border-bottom: 3px transparent solid;
    padding-bottom: 0.5rem;
    transition: border-color 0.5s;

    &:hover {
      border-color: $medium-color;
    }
    &.current {
      border-color: $main-color;
    }
  }
}
// Header
#header {
  // Header Home
  &-home {
    background: $bg-image no-repeat center right / cover;
    height: 100vh;
    color: #fff;
    // Header Content
    .header-content {
      text-align: center;
      display: flex;
      flex-direction: column;
      //   padding-top: 20%;
      justify-content: center;
      align-items: center;
      height: 100vh;

      h1 {
        font-size: 4rem;
      }
      a {
        display: inline-block;
      }
    }
  }
  &-inner {
    background: $bg-image no-repeat 20% 30% / cover;
    border-bottom: 3px solid $main-color;
  }
}
// Section Home
#home {
  //Section A
  &-a {
    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }

    #specials {
      margin-top: 1rem;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 1rem;

      .fas {
        color: $main-color;
        padding: 0.5rem;
      }
    }
  }
  //Section B
  &-b {
    .stats {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      background: $light-color;

      div {
        padding: 3rem 0;
      }

      div:nth-child(even) {
        background: $medium-color;
      }

      .stats {
        &-title {
          font-size: 24px;
        }
        &-number {
          font-size: 2rem;
          font-weight: bold;
        }
      }
    }
  }
  //Section C
  &-c {
    .process {
      display: grid;
      grid-gap: 1.5rem;
      grid-template-columns: repeat(4, 1fr);

      &-icon {
        width: 70px;
        height: 70px;
        line-height: 70px;
        background: $dark-color;
        border-radius: 50%;
        color: $light-color;
        text-align: center;
        position: relative;
        padding: 2rem;
        transition: all 1s;
        margin: 1rem 0 2rem 0;

        .process-step {
          position: absolute;
          width: 15px;
          height: 15px;
          line-height: 15px;
          padding: 1rem;
          background: $main-color;
          border-radius: 50%;
          top: 0;
          right: 0;
          font-size: 28px;
          transition: all 1s;
        }
        &:hover {
          background: $main-color;
          padding: 2.5rem;

          & .process-step {
            background: $dark-color;
          }
        }
      }
    }
  }
}
// Section About
#about {
  // About A
  &-a {
    padding: 2rem 0;
    &-me {
      display: grid;
      grid-template-areas:
        "bio about about"
        "aw1 aw2 aw3";
      grid-gap: 1.2rem;
      margin-bottom: 2rem;

      .about {
        background: $light-color;
        border-left: 3px solid $main-color;
        padding: 1rem;
        grid-area: about;
      }
      .img-bio {
        grid-area: bio;
      }
      .award {
        &-1 {
          grid-area: aw1;
          .fas {
            color: $main-color;
            margin: 1rem;
          }
        }
        &-2 {
          grid-area: aw2;
          .fas {
            color: $main-color;
            margin: 1rem;
          }
        }
        &-3 {
          grid-area: aw3;
          .fas {
            color: $main-color;
            margin: 1rem;
          }
        }
      }
    }
  }
  &-b {
    color: $light-color;
    padding: 0 1rem;
    .progress {
      height: 1.3rem;
      background: $light-color;
      border-radius: 6px;
      margin: 0.2rem 0;

      div {
        background: $main-color;
        height: 100%;
        border-radius: 6px;
      }
    }
  }
  &-c {
    background: $light-color;

    .concerns-logos {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 1.5rem;
      align-items: center;
      justify-content: center;

      img {
        padding: 4rem;
        width: 200px;
      }
    }
  }
  &-d {
    .testimonials {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 1.5rem;
      padding: 0 0.5rem;

      .testimonial {
        padding: 0.5rem;
        border: 1px solid $medium-color;
        border-radius: 7px;
        margin-bottom: 0.5rem;
        text-align: left;
      }
      .person {
        display: flex;
        align-items: center;
        img {
          margin-right: 1rem;
          width: 50px;
          border-radius: 50%;
        }
      }
    }
  }
}
#footer {
  background: $dark-color;
  color: $light-color;

  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;

    .socials {
      a {
        color: $light-color;
      }
      .fab {
        margin-right: 1rem;
        border: 2px solid $light-color;
        padding: 0.5rem;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        transition: all 0.5s;

        &:hover {
          background: $main-color;
        }
      }
    }
  }
}

@import 'media';